<% content_for :title, "Editing saida" %>

<h1>Editing saida</h1>

<%= render "form", saida: @saida %>

<br>

<div>
  <%= link_to "Show this saida", @saida %> |
  <%= link_to "Back to saidas", saidas_path %>
</div>
