<% content_for :title, "Editing entrada" %>

<h1>Editing entrada</h1>

<%= render "form", entrada: @entrada %>

<br>

<div>
  <%= link_to "Show this entrada", @entrada %> |
  <%= link_to "Back to entradas", entradas_path %>
</div>
